<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1" thread-count="2" parallel="tests">
    <test name="CHROME" thread-count="6" parallel="methods">
        <parameter name="browser" value="CHROME"/>
        <classes>
            <class name="org.selenium.pom.tests.AddToCartTest">
                <methods>
                    <include name="addToCartFromStorePage"/>
                </methods>
            </class>
        </classes>
    </test>
    <!--<test name="EDGE" thread-count="2" parallel="methods">
        <parameter name="browser" value="EDGE"/>
        <classes>
            <class name="org.selenium.pom.tests.FirstTestCase"/>
        </classes>
    </test>-->
</suite>